body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to bottom, #1e3c72, #2a5298); /* Blue to Purple gradient */
  color: #000000;
  
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Adjust content margin for mobile */
.content {
  margin-left: 250px; /* For Sidebar */
  padding: 20px;
  transition: margin-left 0.3s ease;
}

.mobile-content {
  margin-left: 0; /* Remove sidebar margin for mobile */
  padding-bottom: 70px; /* Space for the bottom navbar */
}

/* Mobile navbar adjustments */
.mobile-navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.mobile-search {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.search-input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.close-search {
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #333;
}



