.account-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.sidebar {
  width: 200px;
  background-color: #f4f4f4;
  box-shadow: 2px 0 5px rgba(255, 255, 255, 0.1);
  height: 50%;
  top: 70px;
  left: 0;
  border-radius: 10px;
}
.sidebar-links{
  margin-top: 30px;
  margin-bottom: 10px;
  width: 80%;
  margin-left: 20px;
  align-items: center;
  text-align: center;
}

.sidebar-button {
  display: block;
  padding: 10px 15px;
  margin-bottom: 10px;
  border: none;
  background: none;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  text-align: left;
  width: 100%;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar-button.active {
  background-color: #007bff;
  color: white;
}

.sidebar-button:hover {
  background-color: #e0e0e0;
}

.content {
  width: 100%;
  max-width: 50%;
  border-radius: 8px;
  overflow-y: auto;
  color: #333;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .sidebar {
    width: 150px; /* Reduced width */
  }

  .sidebar-button {
    font-size: 12px; /* Smaller font size */
    padding: 6px 10px; /* Adjusted padding */
  }

  .content {
    max-width: 100%; /* Allow more content width */
    padding: 10px; /* Reduced padding */
  }
}

@media (max-width: 480px) {
  .sidebar {
    width: 50px; /* Further reduced width */
    font-size: smaller;
  }

  .sidebar-button {
    font-size: 10px; /* Smaller font size */
    padding: 4px 8px; /* Reduced padding */
  }

  .content {
    margin-left: 140px; /* Adjust margin for even smaller sidebar */
    max-width: 95%; /* Max width adjustments */
    padding: 5px; /* Further reduced padding */
  }
}