.blog-details-container {
  padding: 20px;
}

.blog-detail-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 20px;
}

.blog-likes {
  margin-bottom: 20px;
}

.blog-comments {
  margin-top: 20px;
}

.comment-item {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.comment-user-icon {
  font-size: 40px;
}

.comment-content {
  display: flex;
  flex-direction: column;
}

.admin-label {
  background-color: red;
  color: white;
  padding: 2px 5px;
  font-size: 0.8rem;
  border-radius: 3px;
}
