.blogs-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin-left: 400px;
}

.blog-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  color: black;
  width: 100%;
}

.blog-image, .blog-video {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.blog-video {
  border: none;
  height: 300px;
}

.blog-content {
  padding: 20px;
}

.blog-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.blog-description {
  margin-bottom: 10px;
}

.donate-link {
  color: #007bff;
  text-decoration: none;
}

.blog-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-actions span {
  margin-right: 10px;
}

.blog-date {
  font-size: 0.9rem;
}
