.leaderboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 2px 0 5px rgba(255, 255, 255, 0.1);
    width: 100%; /* Make it 100% to fit in the parent container */
    max-width: 1200px;
    overflow: hidden;
}

.chart-container {
    width: 100%; /* Ensure chart takes full width */
    margin-bottom: 20px;
}

.leaderboard {
    width: 100%;
    max-width: 800px;
}

.leaderboard h2 {
    text-align: center;
}

.leaderboard ul {
    list-style-type: none;
    padding: 0;
}

.leaderboard li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
