/* ChatDetails.css */

.chat-details-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    background-color: #ffffff;
    width: 70%;
    justify-content: center;
}

.user-profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.user-profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-info p {
    margin: 0;
    font-size: 12px;
    font-weight: bold;
}

.user-status {
    font-size: 7px;
    color: #666;
}

.messages-container {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
    width: 100%;
}

.messages-container::-webkit-scrollbar {
    /* WebKit */
    display: none;
}

.date-separator {
    text-align: center;
    margin: 10px 0;
    font-size: 14px;
    color: #888;
}

.message {
    display: inline-block;
    max-width: 50%;
    /* Adjusts width to be flexible based on content */
    min-width: 80px;
    margin: 5px 0;
    padding: 10px 15px;
    border-radius: 20px;
    word-wrap: break-word;
    position: relative;
}

.user-message {
    align-self: flex-start;
    background-color: #bebebe;
    color: #000;
}

.admin-message {
    justify-self: flex-end;
    align-self: flex-end;
    background-color: #0084ff;
    color: #fff;
}

.message-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.message-user-name {
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 10px;
}

.verified-icon {
    color: #ffffff;
    /* WhatsApp-like green */
    font-size: 16px;
}

.admin-label {
    color: #ffffff;
    font-size: 12px;
    margin-left: 5px;
}

.options-icon {
    cursor: pointer;
    font-size: 7px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 30px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.message:hover .dropdown-menu {
    display: block;
}

.dropdown-menu button {
    display: block;
    width: 100%;
    padding: 8px 10px;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
    font-size: 14px;
    color: #000;
}

.dropdown-menu button:hover {
    background-color: #f0f0f0;
}

.message-content p {
    margin: 0;
}

.message-timestamp {
    font-size: 10px;
    text-align: right;
    margin-top: 5px;
    color: #666;
}

.edit-message {
    display: block;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
    color: #000;
}

.edit-message input {
    flex: 1;
    padding: 5px 10px;
    border-radius: 15px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.edit-message button {
    padding: 5px 10px;
    border: none;
    border-radius: 15px;
    background-color: #0084ff;
    color: #000000;
    cursor: pointer;
    font-size: 14px;
}

.edit-message button:hover {
    background-color: #006bbf;
    color: #000;
}

.send-message-form {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: #f0f0f0;
}

.send-message-form input {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 14px;
    outline: none;
}

.send-message-form button {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #0084ff;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
}

.send-message-form button:hover {
    background-color: #006bbf;
}

.reply-container {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ddd;
    /* Optional: for separating from messages */
}

.reply-container input {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.reply-container button {
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    background-color: #0084ff;
    /* WhatsApp-like send button */
    color: #fff;
    cursor: pointer;
}

.reply-container button:hover {
    background-color: #006bbf;
}