.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #e0e0e0;
  overflow: hidden;
}

.toggle-sidebar {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 5px;
  margin-left: 500px;
}

.search-bar input {
  border: none;
  outline: none;
}

.navbar-icons {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}

/* Account dropdown menu styling */
.profile-container {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: small;
}

.profile-pic {
  position: relative;
}

.profile-icon {
  font-size: 30px;
  color: #007bff;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.dropdown-icon {
  font-size: 10px;
  color: #333;
  margin-left: 5px;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  z-index: 10;
}

.dropdown-item {
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
  display: block;
  background-color: white;
}

.dropdown-item:hover {
  background-color: #007bff;
  color: white;
}

/* Notification Dropdown Styling */
.notification-icon {
  margin-left: 20px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  color: #000000;
  font-size: 20px;
}

.notification-icon .fa-bell {
  font-size: 30px;
  color: #000000;
}

.notification-badge {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: #ff4c4c; /* Red background for the badge */
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.notification-dropdown{
  margin-top: 10px;
}

.notification-dropdown .notification-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.notification-dropdown .notification-item:last-child {
  border-bottom: none;
}

.notification-dropdown .notification-item.read {
  background: #f9f9f9;
}

.notification-dropdown .notification-item.unread {
  background: #fff;
  font-weight: bold;
}

.notification-dropdown .notification-footer {
  padding: 10px;
  text-align: center;
}

.notification-dropdown .mark-all-read {
  background: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.notification-dropdown .mark-all-read:hover {
  background: #0056b3;
}